<% if session[:player_turn] %>
  <h4>Dealer's cards</h4>
  <img src="/images/cards/cover.png" />
  <%= generate_pic_url(session[:dealer_hand][1]) %>
<% else %>
  <h4>
    Dealer's cards <span>&cir;</span>
    Total points: <%= calculate_total(session[:dealer_hand]) %>
  </h4>
  <% session[:dealer_hand].each do |card| %>
    <%= generate_pic_url(card) %>
  <% end %>
<% end %>

