<form action='/new_hand' method='post' style="display:inline">
  <button type="submit" class="btn" name ="new_hand">New Hand</button>
</form>
<form action='/vegas' method='get' style="display:inline">
  <button type="submit" class="btn" name ="quit_game">Quit Game</button>
</form>

