<h4>Dealer's cards</h4>

<img src=/images/cards/cover.png />
<% session[:dealer_hand].drop(1).each do |card| %>
  <%= generate_pic_url(card) %>
<% end %>

<h4>
  Toby's cards                                                           <i class="icon-leaf"></i> <i class="icon-leaf"></i> <i class="icon-leaf"></i>
  <form action='/player/hit' method='post' style="display:inline">
    <button type="submit" class="btn" name ="player_hit">Hit</button>
  </form>
  <form action='/player/stay' method='get' style="display:inline">
    <button type="submit" class="btn" name ="player_stay">Stay</button>
  </form>                                                                <i class="icon-leaf"></i> <i class="icon-leaf"></i> <i class="icon-leaf"></i>
  Bet: $<%= session[:player_bet] %>                                      <i class="icon-leaf"></i> <i class="icon-leaf"></i> <i class="icon-leaf"></i>
  Total points: <%= calculate_total(session[:player_hand]) %>
</h4>

<% session[:player_hand].each do |card| %>
  <%= generate_pic_url(card) %>
<% end %>

