<p>Hi <%= session[:username] %>, How much do you want to bet?</p>
<form action='/makebet' method='post'class="navbar-form pull-left">
  <p><input type="text" class="span3" name="bet"></p>
  <p><button type="submit" class="btn">Bet!</button></p>
</form>

