<p>What's your name?</p>
<form action='/getname' method='post'class="navbar-form pull-left">
  <p><input type="text" class="span3" name="username"></p>
  <p><button type="submit" class="btn">Submit</button></p>
</form>

