<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra shouts Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">Sinatra Shouts Blackjack!</div>
          <% if @gameover  %>
            <ul class="nav">
              <li><a href="/new_game">New Game</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
      
    <div class="container">
      <%if @red %>
        <div class="alert alert-error"><%=@red%></div>
      <% end %>
      <%if @green %>
        <div class="alert alert-success"><%=@green%></div>
      <% end %>
      <%if @blue %>
        <div class="alert alert-info"><%=@blue%></div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
