<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra shouts Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">Sinatra Shouts Blackjack!</div>
          <% if @game_over  %>
            <ul class="nav">
              <li><a href="/new_game">New Game</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
      
    <div class="container">
      <%if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <%if @success %>
        <div class="alert alert-success"><%=@success%></div>
      <% end %>
      <%if @warning %>
        <div class="alert alert-info"><%=@warning%></div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
