<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 20px;">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/">Blackjack!</a>
          <ul class="nav">
            <li><a href="#">New Game</a></li>
          </ul>
        </div>
      </div>
      <%if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
