<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra shouts Blackjack!</title>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/application.css'>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='/application.js'></script>
  </head>

  <body style='padding-top: 50px;'>

    <%= yield %>

  </body>
</html>
