<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra shouts Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 20px;">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/">Blackjack!</a>
          <% if session[:player_name] %>
            <ul class="nav">
              <li><a href=<%= link :new_game %>>New Game</a></li>
            </ul>
          <% end %>
        </div>
      </div>
      <%if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
