<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra shouts Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">Sinatra Shouts Blackjack!</div>
          <% if @game_over %>
            <ul class="nav">
              <li><a href="/new_game">New Game</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
      
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
