 <form style='display:inline' action='/player/hit' method='post' id='hit_form'>
<input type='button' value='Hit' class='btn' />
 </form>
 <form style='display:inline' action='/player/stay' method='post' id='stay_form'>
   <input type='button' value='Stay' class='btn' />
 </form>
