<form action='/player/hit' method='post' style="display:inline">
  <button type="submit" class="btn" name ="player_hit">Hit</button>
</form>
<form action='/player/stay' method='post' style="display:inline">
  <button type="submit" class="btn" name ="player_stay">Stay</button>
</form>
