body {
  background-color: rgb(3, 96,64);
  color: rgb(255, 255, 255);
}

span.pad20px { padding: 20px; }

div.well, span.add-on { color: rgb(80,80,80) }

form#hit_form { display: inline; }
form#stay_form { display: inline; }
form#new_hand { display: inline; }
form#vegas { display: inline; }

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
}
